@using Azure.Core
@model AgroNet.Model.OPG
@{
    var isEditMode = ViewBag.IsEditMode;
    var opgId = Model.Id;
}

<!-- Bootstrap CSS for tabs -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!-- Edit Page Content -->
<div class="container">
    
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="tab-mojOPG" href="#mojOPG" data-toggle="tab">Moj OPG</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-proizvodi" href="#proizvodi" data-toggle="tab">Proizvodi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-strojeviAlati" href="#strojeviAlati" data-toggle="tab">Strojevi Alati</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-usluge" href="#usluge" data-toggle="tab">Usluge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-imanjaVlasnika" href="#imanjaVlasnika" data-toggle="tab">Imanja Vlasnika</a>
        </li>
    </ul>

    
      <div class="tab-content mt-3">
        <div class="tab-pane active" id="mojOPG">
            <!-- Center the form and constrain its width -->
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <form asp-action="@(ViewBag.IsEditMode ? "Edit" : "Create")" method="post">
                        <div class="form-group">
                            <label asp-for="Naziv" class="control-label"></label>
                            <input asp-for="Naziv" class="form-control" />
                            <span asp-validation-for="Naziv" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Adresa" class="control-label"></label>
                            <input asp-for="Adresa" class="form-control" />
                            <span asp-validation-for="Adresa" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="IBAN" class="control-label"></label>
                            <input asp-for="IBAN" class="form-control" />
                            <span asp-validation-for="IBAN" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="MjestoId" class="control-label"></label>
                            <select asp-for="MjestoId" class="form-control" asp-items="ViewBag.Mjesta"></select>
                            <span asp-validation-for="MjestoId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="DjelatnostId">Djelatnost</label>
                            <select id="DjelatnostId" name="DjelatnostId" class="form-control" asp-items="ViewBag.Djelatnosti"></select>
                        </div>

                        <div class="form-group mt-4">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="@(ViewBag.IsEditMode ? "Spremi promjene" : "Create OPG")" class="btn btn-primary" />
                            <a asp-action="CreateOrEdit" class="btn btn-secondary ml-2">Odustani</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    

        <div class="tab-pane" id="proizvodi">
            <a href="@Url.Action("CreateProizvod", new { opgId = opgId })" class="btn btn-primary mb-3">Dodajte Proizvod</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Vrsta proizvoda</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Proizvodi)
                    {
                        <tr>
                            <td>@item.Naziv</td>
                            <td>@item.Opis</td>
                            <td>@item.VrstaProizvodaNaziv</td> <!-- Display VrstaProizvoda.Naziv -->
                            <td>
                                <div class="d-flex align-items-center">
                                <a href="@Url.Action("EditProizvod", new { id = item.Id, opgId = opgId })" class="btn btn-warning d-inline-block">Uredi</a> <!-- Edit Button -->
                                <form asp-action="DeleteProizvod" method="post" class="d-inline-block ml-2">
                                    <!-- Delete form with margin -->
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="hidden" name="opgId" value="@opgId" />
                                    <input type="submit" value="Obriši" class="btn btn-danger" />
                                </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="strojeviAlati">
            <a href="@Url.Action("CreateStrojAlat", new { opgId = opgId })" class="btn btn-primary mb-3">Dodajte Stroj/Alat</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Vrsta stroja/alata</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.StrojeviAlati)
                    {
                        <tr>
                            <td>@item.Naziv</td>
                            <td>@item.Opis</td>
                            <td>@item.VrstaStrojaAlataNaziv</td>
                            <td>
                                <div class="d-flex align-items-center">
                                <a href="@Url.Action("EditStrojAlat", new { id = item.Id, opgId = opgId })" class="btn btn-warning d-inline-block">Uredi</a> <!-- Edit Button -->
                                <form asp-action="DeleteStrojAlat" method="post" class="d-inline-block ml-2">  <!-- Delete form with margin -->
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="hidden" name="opgId" value="@opgId" />
                                    <input type="submit" value="Obriši" class="btn btn-danger" />
                                </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="usluge">
            <a href="@Url.Action("CreateUsluga", new { opgId = opgId })" class="btn btn-primary mb-3">Dodajte Uslugu</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Vrsta usluge</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Usluge)
                    {
                        <tr>
                            <td>@item.Naziv</td>
                            <td>@item.Opis</td>
                            <td>@item.VrstaUslugeNaziv</td>
                            <td>
                                <div class="d-flex align-items-center">
                                <a href="@Url.Action("EditUsluga", new { id = item.Id, opgId = opgId })" class="btn btn-warning d-inline-block">Uredi</a> <!-- Edit Button -->
                                <form asp-action="DeleteUsluga" method="post" class="d-inline-block ml-2"> <!-- Delete form with margin -->
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="hidden" name="opgId" value="@opgId" />
                                    <input type="submit" value="Obriši" class="btn btn-danger" />
                                </form>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="imanjaVlasnika">
            <a href="@Url.Action("CreateImanjeVlasnik", new { opgId = Model.Id })" class="btn btn-primary mb-3">Dodajte Imanje </a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Katastar</th>
                        <th>Povrsina</th>
                        <th>Proizvod</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ImanjaVlasnici)
                    {
                        <tr>
                            <td>@item.Katastar</td>
                            <td>@item.Povrsina</td>
                            <td>@item.Proizvod</td>
                            <td>
                                <div class="d-flex align-items-center">
                                <a href="@Url.Action("EditImanjeVlasnik", new { id = item.Id, proizvodID=item.ProizvodId, vlasnikID=item.Vlasnik, imanjeID=item.ImanjeId,  opgId = opgId})" class="btn btn-warning d-inline-block">Uredi</a>
                                <form asp-action="DeleteImanjeVlasnik" method="post" class="d-inline-block ml-2">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="hidden" name="opgId"  value="@opgId" />
                                    <input type="submit" value="Obriši" class="btn btn-danger" />
                                </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section Scripts {

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var activeTab = '@ViewContext.HttpContext.Request.Query["activeTab"]';
        if (activeTab) {
            $('.nav-tabs a[href="#' + activeTab + '"]').tab('show');
        }
    });
</script>
}

