@model AgroNet.Web.Models.UslugaDetailsViewModel

<div class="container">
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Usluge")">
                    Usluge
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Usluga.Usluga.Naziv</li>
        </ol>
    </nav>
</div>

<h2>@Model.Usluga.Usluga.Naziv</h2>
<p><strong>Vrsta usluge:</strong> @Model.Usluga.Usluga.VrstaUsluge?.Naziv</p>
<p><strong>Opis usluge:</strong> @Model.Usluga.Usluga.Opis</p>

<h3>
    <a  href="@Url.Action("Details", "OPG", new{id = @Model.Usluga.OPG.Id})">@Model.Usluga.OPG.Naziv</a>
</h3>

<p><strong>Adresa:</strong> @Model.Usluga.OPG.Adresa</p>
<p><strong>IBAN:</strong> @Model.Usluga.OPG.IBAN</p>
<p><strong>Mjesto:</strong> @Model.Usluga.OPG.Mjesto.Naziv</p>
<p><strong>Županija:</strong> @Model.Usluga.OPG.Mjesto.Zupanija?.Naziv</p>

@if (Model.Vlasnik != null)
{
    <h3>Vlasnik</h3>
    <p><strong>Ime:</strong> @Model.Vlasnik.Ime</p>
    <p><strong>Prezime:</strong> @Model.Vlasnik.Prezime</p>
    <p><strong>Email:</strong> @Model.Vlasnik.Email</p>
    <p><strong>Broj Telefona:</strong> @Model.Vlasnik.BrojTelefona</p>
}
else
{
    <p>No owner information available for this OPG.</p>
}
<div class="d-flex align-items-center mt-3">
    <a class="btn btn-secondary me-3"  href="@Url.Action("Usluge")">Povratak na Usluge</a>
<a class="btn btn-primary me-3" href="@Url.Action("CreateOrder", "Usluge", new { uslugaId = Model.Usluga.Usluga.Id, prodavacOpgId = Model.Usluga.OPG.Id })">Naruči</a>
</div>