@model IEnumerable<AgroNet.Model.OPGUsluga>

@{
    ViewBag.Title = "Usluge Grid";
}

<div class="container">
    <div style="margin-top: 20px; margin-bottom: 10px;">
        <partial name="UslugeFilter" model="new UslugeFilterModel()" />
    </div>
    <div class="row">
        @foreach (var opgUsluga in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@opgUsluga.Usluga.Naziv</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@opgUsluga.Usluga.VrstaUsluge?.Naziv</h6>
                        <p class="card-text">@opgUsluga.OPG.Naziv</p>
                        <p class="card-text">@opgUsluga.OPG.Mjesto.Naziv</p>
                        
                        <div class="d-flex align-items-center">
                            <a class="btn btn-info me-2" href="@Url.Action("Details", new { id = opgUsluga.Id })">Više</a>
                            <a class="btn btn-primary" href="@Url.Action("CreateOrder", "Usluge", new { uslugaId = opgUsluga.Usluga.Id, prodavacOpgId = opgUsluga.OPG.Id })">Naruči</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
